{% extends 'base.html.twig' %}

{% block title %}Computers{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">CPU</th>
            </tr>
        </thead>
        <tbody>
            {% for computer in computers %}
            
                    <tr>
                        <th scope="row">{{ computer.id }}</th>
                        <td>{{ computer.brand }}</td>
                        <td>{{ computer.model }}</td>
                        <td>{{ computer.cpu.brand }} {{ computer.cpu.model }}</td>
                    </tr>
                
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
